# Database configuration
DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_NAME=coronator_development
DATABASE_USERNAME=root
DATABASE_PASSWORD=rootpw

OTP_SECRET=top-secret-token-that-you-will-never-fount-out-what
OTP_RETRY_DURATION=30s

MEMCACHE_HOST=127.0.0.1:11211

WHATSAPP_PHONE_NUMBER=080989999
